{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Employee</h2>  
    <form method="POST" action="insert">

      {{/* <label> Email Address </label><input type="text" name="email_address" /><br />
      <label> Username </label><input type="text" name="user_name" /><br />
      <label> First name </label><input type="text" name="first_name" /><br />
      <label> Last name </label><input type="text" name="last_name" /><br /> */}}

      <label> Name </label><input type="text" name="name" /><br />
      <label> City </label><input type="text" name="city" /><br />

      <input type="submit" value="Save user" />
    </form>
  {{ template "Footer" }}
{{ end }}